{
  "parserOptions": {
    "ecmaVersion": "2018"
  },
  "rules": {
    "valid-typeof": "off",
    "no-console": "error",
    "semi": ["never"]
  },
  "extends": [
    "eslint:recommended", "eslint-config-prettier"
  ],
  "env": {
    "browser": true
  }
}